{% load i18n %}

<!--Species Search-->
<div class="search-block visible-md visible-lg">
  <label>{% trans "Search by Species" %} <a href="{% url 'friendly_species_list' instance_url_name=request.instance.url_name %}">(master list)</a></label>
  <div class="search-field-group">
    <a class="typeahead-toggle" id="species-toggle"><i class="icon-menu"></i></a>
    <input type="text" data-class="search" id="species-typeahead" class="form-control" placeholder="Common or Scientific Name"/>
    <input name="species.id" type="hidden" id="search-species" />
    <input name="species.genus" data-search-type="IS" type="hidden" id="search-species-genus" />
    <input name="species.species" data-search-type="IS" type="hidden" id="search-species-species" />
    <input name="species.cultivar" data-search-type="IS" type="hidden" id="search-species-cultivar" />
  </div>
</div>
