{% extends "instance_base.html" %}
{% load i18n %}

{% block activeexplore %}
{% endblock %}

{% block content %}
<div class="container contained">
    <div class="row">
        <div class="col-md-12">
            <h3>{% trans 'Species ordered by' %} {{ format }} {% trans 'name' %}</h3>
            <p><a href="{% url 'friendly_species_list' instance_url_name=request.instance.url_name format=other_format %}">{% trans 'Switch to' %} {{ other_format}} {% trans 'name' %}</a></p>
            <table class="table table-striped">
                <tr>
                    <th>{{ format|title }} Name</th>
                    <th>{{ other_format|title }} Name</th>
                    <th>Search Map</th>
                    <th>More Info</th>
                </tr>
            {% for spp in species %}
                <tr>
                    <td>{{ spp.name }}</td>
                    <td>{{ spp.other_name }}</td>
                    <td><a href="{% url 'map' instance_url_name=request.instance.url_name %}?q={{ spp.query }}">Search</a></td>
                    <td><a href="http://plants.usda.gov/core/profile?symbol={{spp.symbol}}">Info</a></td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

http://trees.gis.usu.edu/logan/map/?q={"species.genus":{"IS":"Pinus"},"species.species":{"IS":"eldarica"}}
