{% extends "treemap:treemap/plot_detail.html" %}

{% block scripts %}
    {{ block.super }}
<script>
    (function(require) {
        jQuery('.detail-header').prepend('<a class="btn pull-right" href="{% url 'map' instance_url_name=request.instance.url_name %}?z=20/{{geom_dd.y}}/{{geom_dd.x}}">Return to map</a>')
        jQuery(function() {
            jQuery('.leaflet-control-layers-base span:contains("Hybrid")').prev(':radio').attr('checked', true).trigger('click')
        })
    })(require)
</script>
{% endblock %}
